body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.score-board {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px 20px 20px;
    font-size: 20px;
}

.score {
    display: flex;
    padding: 5px;
}

.score-label {
    margin-right: 8px;
}

.controls {
    display: flex;
    justify-content: center;
}

button.rps-button {
    padding: 20px;
    margin: 0 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
}

.winner {
    background-color: green;
    font-size: 30px;
}

.loser {
    background-color: red;
}

.winner, .loser {
    border-radius: 10px;
    color: white;
}